<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <alwaysAllowedQueryStrings>
                    <add queryString="station" />
                </alwaysAllowedQueryStrings>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <add value="chart.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
